html {
    background: #4CA1AF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 

#container{
    width: 850px;
}

.loadingbar{
    background-color: red;
    width:0%;
}

.node1{
    float:left;
    color: red;
    margin:5px;
}

.node2{
    margin:5px;
}

.output{
    margin: 10px;
}

.h_output{
    float:left;
}

#player1{
    margin: 10px;
    float:left;
}

#player2{
    margin: 10px;
    float:left;
}

#button{
    cursor: pointer;
}

#print{
    cursor: pointer;
}

.cursor_pointer{
    cursor: pointer;
}

.card {
    width:150px;
    height:200px;
    background:#FFF;
    float:left;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin: 5px;
    cursor: pointer;
}

.header{
    font-family: "Verdana";
    font-size: 16px;
    color: #000;
}

.cardname{
    font-family: "Verdana";
    font-size: 12px;
    color: #000;
}

.Fjärilar{
    background-color: seagreen;
}

.Skalbaggar{
    background-color: aquamarine;
}

.Blötdjur{
    background-color: blueviolet;
}

.Fiskar{
    background-color: saddlebrown;
}

.Kärlväxter{
    background-color: hotpink;
}